  @import url('https://fonts.googleapis.com/css2?family=Pridi&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');


  @import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Kanit:wght@300&display=swap');


/* header */


.conteiner {
    max-width: 1440px;
    width: 100%;
    margin: auto;
    border: 5px solid red;
    /* display: flex; */

}

.header { 
    width: 83%;
    margin: auto;
display: flex;
/* background-color: blue; */
justify-content: space-between;
align-items: center;
}

.logo_mobile {
    display: none;
}
.logo_box {
    display: flex;
    align-items: center;
}

.box {
    display: flex;
}



ul {
    display: flex;


}

.header_logo_text {
    font-family: 'Pridi', serif;
    color: #FA793C;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.nav_li_a {
    font-family: 'ABeeZee', sans-serif;
    color: #000;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; 
}

.margin_inlain32 {
    margin-inline: 32px;
}

.margin_right32 {
    margin-right: 32px;
}



.guest {
    margin-left: 40px;
}
/* cover  */

.cover {
    background-image: url(../images/cover.png);
    /* width: 100%; */
    background-size: cover;
    background-repeat: no-repeat;

   
    height: 550px;
    align-items: center;
    position: relative;
}


.cover_h1 {
    font-family: 'Kanit', sans-serif;
    color: #FFF;
        font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 75px; /* 150% */
position: absolute;
top: 101px;
left: 130px;
}
.cover_p {
    color: #FFF;
    font-family: 'Kanit', sans-serif;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 140% */
width: calc(980 / 1440 * 100%);
position: absolute;
top: 196px;
left: 130px;
}

/* section  */

.section1 { width: 83%;

    margin: 130px auto;
    /* border: #000 5px solid; */

}

.section1_mainH1 {
    color: #000;
    font-family: 'Kanit', sans-serif;
font-size: 30px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.section_article {
    display: flex;
    justify-content: space-between;
    margin-top: 34px;
}

.section1_divs {
    width: 32%;
    border: 1px solid #000;

}

.section1_images {
    width: 100%;
}

.section1_div_h1 {
    color: #000;
    font-family: 'Kanit', sans-serif;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 100% */
margin: 16px 16px 8px ;
}

.section1_div_p {
    color: #000;
    font-family: 'Kanit', sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
margin: 0 0 24px 16px;
}

.section1_time {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 16px;
    margin-bottom: 16px;
}
.section1_time_p {color: #000;
    font-family: 'Kanit', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}


/* section2  */

.section2 {
    width: 83%;
    margin: 130px auto;
    /* border: #000 5px solid; */
    /* position: relative; */

}

.section2_flexbox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* flex-wrap: wrap; */
}

.margin_34 {
    margin-bottom: 34px;
}

.section2_mainimage{
    width: calc(780 / 1180 * 100);
}

.section2_mainimg {
width: 100%;
height: 400px;
}
.section2_mainimage_texts {
    position: relative;
  
}



.section2_text_H1 {
    color: #FFF;
    font-family: 'Kanit', sans-serif;
font-size: 30px;
font-style: normal;
font-weight: 500;
line-height: 38px; /* 126.667% */
position: absolute;
top: 143px;
left: 37px;
}

.section2_text_P{
    color: #FFF;
    font-family: 'Kanit', sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 125% */
position: absolute;
top: 197px;
left: 37px;
width: 90%
}

.section2_article2 {

    display: flex;
    flex-direction: column;
    justify-content: space-between; 
margin-left: 20px;
}
.section2_article2_image1 {
    margin-bottom: 20px;
}

/* footer */

footer {
    width: 100%;
    height: 100px;
    background: #000;
    display: flex;
align-items: center;
justify-content: center;}

.footer_H1 {
    color: #FFF;
font-family: Pridi;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
}